@charset "UTF-8";
/***FONT ****/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
/** NAMED COLOR VALUES ***/
/*** FUNCTIONAL COLOR VALUES ***/
/************************* SIZES *************************************/
/**nav**/
/***margins***/
/**widths***/
/** heights ***/
/**social stats image size***/
/*****TABLET SIZES ******/
/**padding***/
/**width**/
nav {
  background: #7c74d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

ul {
  margin: 0;
  list-style: none;
  text-align: center;
  display: block;
  padding: 0;
  line-height: 3.5em; }
  @media (min-width: 760px) {
    ul {
      display: flex;
      width: 100%;
      padding: 5px 0; } }

nav svg {
  height: 20px;
  width: 20px; }
  @media (min-width: 760px) {
    nav svg {
      height: 30px;
      width: 30px;
      margin-top: 12px; } }

.brand {
  color: white; }
  @media (min-width: 760px) {
    .brand {
      margin-right: auto; } }
  .brand span {
    color: lightgrey; }

@media (min-width: 760px) {
  li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; } }

@media (min-width: 760px) {
  li:last-child {
    border-left: 1px solid black; } }

.sidebar {
  display: none;
  width: 0; }
  @media (min-width: 1090px) {
    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 10%;
      background-color: #484884; } }

.sidebar svg {
  width: 50px;
  height: 50px;
  padding: 20px; }

.main {
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 1090px) {
    .main {
      width: 87%;
      margin: 0;
      width: 100%; } }

@media (min-width: 1090px) {
  .container {
    display: flex; } }

.searchbar {
  width: 80%;
  margin: 0 auto;
  display: block; }
  .searchbar::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    float: right; }
  .searchbar::-moz-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    float: right; }
  .searchbar:-ms-input-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    float: right; }
  .searchbar input:-moz-placeholder::before {
    font-family: fontAwesome;
    content: '\f002  ';
    float: right; }
  @media (min-width: 760px) {
    .searchbar {
      width: 40%;
      margin: 0 0 0 auto;
      font-size: 1.25rem;
      height: 20px; } }

.search h1 {
  text-align: center; }
  @media (min-width: 760px) {
    .search h1 {
      font-size: 1.25rem;
      margin: 0; } }
  @media (min-width: 1090px) {
    .search h1 {
      margin-left: 20px; } }

.search {
  margin-bottom: 10px;
  border: none; }
  @media (min-width: 760px) {
    .search {
      display: flex;
      height: 75px;
      align-items: center; } }
  @media (min-width: 1090px) {
    .search {
      justify-content: space-between;
      margin-bottom: 25px; } }

.search div {
  padding-left: auto;
  padding-right: 15px;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center; }
  @media (min-width: 1090px) {
    .search div {
      background-color: #f3f2f2;
      border: 1px solid lightgrey;
      border-top: none; } }

.alertbox {
  width: 95%;
  background-color: #5248ba;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 20px; }

.x {
  margin-right: 5px; }

.message {
  margin-left: 5px; }

.alert {
  border: none; }

.alertbox p {
  padding: 5px;
  font-size: .9em;
  margin: 5px; }
  .alertbox p b {
    font-size: 1.1rem; }

.alert p:last-child {
  font-size: 1.1rem; }

.social-stats {
  display: flex;
  flex-direction: column; }
  @media (min-width: 760px) {
    .social-stats {
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 20px; } }

.facebook-stats, .twitter-stats, .googleplus-stats {
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 760px) {
    .facebook-stats, .twitter-stats, .googleplus-stats {
      width: 30%; } }

.social-stats img {
  height: 40px;
  width: 40px; }

.social-stats img, .headline {
  padding: 50px; }
  @media (min-width: 760px) {
    .social-stats img, .headline {
      padding: 15px; } }

.member {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid grey; }
  @media (min-width: 760px) {
    .member {
      height: 93px; } }

.member:last-child {
  border: none; }

.head {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px; }

.date {
  margin-left: auto; }

i {
  margin-left: auto;
  font-size: 2em; }

.switch-light {
  width: 30%; }

.time {
  margin: 0; }

input, textarea {
  width: 99%;
  margin-bottom: 10px;
  font-size: 2em; }

textarea {
  height: 200px; }

button {
  height: 50px;
  background-color: #5248ba;
  color: white;
  border: none; }

.send {
  width: 100%; }

.settings .group {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }

.group p {
  margin-right: auto; }

select {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  height: 40px;
  padding: 5px;
  -webkit-appearance: none;
  -moz-apeearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  background-position-x: 97%;
  margin-bottom: 10px; }

.settings button {
  width: 45%;
  margin: 0 auto; }

.settings {
  text-align: center; }

.settings h2 {
  text-align: left; }

.cancel {
  background-color: lightgrey; }

@media (min-width: 760px) {
  .message-user, .settings {
    width: 45%;
    padding-bottom: 30px; } }

@media (min-width: 760px) {
  .settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

footer {
  height: 200px; }

@media (min-width: 760px) {
  section {
    border-bottom: 3px solid lightgrey; } }

@media (min-width: 760px) {
  .two-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

@media (min-width: 760px) {
  .two-column > div {
    width: 45%;
    padding: 10px; } }

.two-column div:first-child {
  border-right: 4px solid lightgray; }

* {
  font-family: fontAwesome; }

#traffic, #dailytraffic, #mobileusers {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px; }
  @media (min-width: 760px) {
    #traffic, #dailytraffic, #mobileusers {
      height: 400px !important; } }

.graph-toggle {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px; }
  @media (min-width: 760px) {
    .graph-toggle {
      width: 30%;
      float: right; } }

.traffic {
  border-bottom: 3px solid lightgrey; }

.traffic div:first-child {
  margin-right: 20px; }

.traffic h2 {
  margin-left: 20px; }

.switch-ios.switch-toggle {
  background-color: white;
  box-shadow: none; }
