#traffic, #dailytraffic, #mobileusers {
	height: $graph-mobile-height;
	width: $graph-mobile-width;
	margin: 0 auto;
	display: block;
	margin-bottom:5px;
	@include tablet {
		height: 400px !important;
	}
}
.graph {
	@include desktop {
		padding: 20px;
	}
}
.graph-toggle {
	width: $graph-toggle-mobile;
	margin: 0 auto;
	margin-bottom: $toggle-bottom;
	@include tablet {
		width: $toggle-tablet-width;
		float: right;
	}
}

.traffic {
	border-bottom: 3px solid lightgrey;
}
.traffic div:first-child {
	margin-right: 20px;
}
.traffic h2 {
	margin-left: 20px;
}
.switch-ios.switch-toggle {
	background-color: white;
	box-shadow: none;
}
canvas {
	margin: 0 auto;
}