.alertbox {
	width: $alert-box-width;
	background-color: $darker-grey-blue;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $alert-box-bottom;
}
.x {
	margin-right: 5px;
	color: white;
}
.message {
	margin-left: 5px;
}
.alert {
	border: none;
	color: white;
}
.alertbox p {
	color: white;
	padding: 5px;
	font-size: .9em;
	margin: 5px;
	b {
		font-size: 1.1rem;
		color: white;
	}
}
.alert p:last-child {
	font-size: 1.1rem;
}