 body {
 	width: 100%;
 }
 .main {
 	width: $main-width-mobile;
 	margin: 0 auto;
 	@include desktop {
 		width: $main-content-desktop;
 		margin: 0;
 		width: 100%;
 	}
 }
 .container {
 	@include desktop {
 		display: flex;
 	}
 }
