nav {
	background: $grey-blue;
	display: flex;
	@include content-middle;
}
ul {
	margin: 0;
	list-style: none;
	text-align: center;
	display: block;
	padding: 0;
	line-height: $nav-line-height;
	@include tablet {
		display: flex;
		width: 100%;
		padding: 5px 0;
	}
}
nav svg {
	height: $icon-mobile;
	width: $icon-mobile;
	@include tablet {
		height: $icon-tablet;
		width: $icon-tablet;
		margin-top: 12px;
	}
}
.brand {
	@include tablet {
		margin-right: auto;
	}
	color:white;
	span, i {
		color: lightgrey;
	}
}
li {
	color: white;
	@include tablet {
		padding: $list-item-padding;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 10px;
	}
}li:last-child {
	@include tablet {
		border-left: 1px solid black;
	}
}
nav li svg {
	padding: 10px;
	fill: lightgreen;
}