.member {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding-bottom: 6px;
	border-bottom: 1px solid grey;
}
.newmembers img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.date {
	margin-left: auto;
}
i {
	margin-left: auto;
	font-size: 2em;
}