.member {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding-bottom: 6px;
	border-bottom: 1px solid grey;
	@include tablet {
		height: 93px;
	}
}
.member img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.date {
	margin-left: auto;
}
i {
	margin-left: auto;
	font-size: 2em;
}
.switch-light {
	width: 30%;
}
.time {
	margin: 0;
}
.newmembers, .recent-activity {
	@include tablet {
		width: 49%;
		font-size: 1rem;
	}
}