.searchbar {
	width: $searchbar-width;;
	margin: 0 auto;
	display: block;
	@include search-bar;
	@include tablet {
		width: 40%;
		margin: 0 0 0 auto;
		font-size: 1.25rem;
		height: 20px;
	}
}
.search h1 {
	text-align: center;
	@include tablet {
		font-size: 1.25rem;
		margin: 0;
	}
}
.search {
	margin-bottom: $search-bottom;
	@include tablet {
		display: flex;
		height: 75px;
		align-items: center;
	}
}