.searchbar {
	width: $searchbar-width;;
	margin: 0 auto;
	display: block;
	@include search-bar;
	@include tablet {
		width: 40%;
		margin: 0 0 0 auto;
		font-size: 1.25rem;
		height: 20px;
	}
}
.search h1 {
	text-align: center;
	@include tablet {
		font-size: 1.25rem;
		margin: 0;
	}
	@include desktop {
		margin-left: 20px;
	}
}
.search {
	margin-bottom: $search-bottom;
	border: none;
	@include tablet {
		display: flex;
		height: 75px;
		align-items: center;
	}
	@include desktop {
		justify-content: space-between;
		margin-bottom: 25px;
	}
}
.search div {
	padding-right: 15px;
	width: 85%;
	height: 100%;
	display: flex;
	align-items: center;
	@include desktop {
		background-color: $search-bar-color;
		border: 1px solid lightgrey;
		border-top: none;
	}
}