.sidebar {
	display: none;
	width: 0;
	@include desktop {
		display: flex;
		flex-direction:column;
		align-items: center;
		width: $sidebar;
		background-color: #484884;
	}
}
.sidebar svg {
	width: 50px;
	height: 50px;
	padding: 20px
}