.social-stats {
	display: flex;
	flex-direction: column;
	@include tablet {
		flex-direction: row;
		justify-content: space-around;
		padding-bottom: 20px;
		flex-wrap: wrap;
	}
}
.facebook-stats,.twitter-stats,.googleplus-stats, .myspace-stats, .youtube-stats, .instagram-stats {
	width:100%;
	border: 1px solid lightgray;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $social-stats-background;
	@include tablet {
		width: $social-stats-tablet-width;
	}
}
.social-stats svg {
	height: $social-stats;
	width: $social-stats;
	fill: white;
}
.social-stats .icon {
	background: $svg-background;
	border-radius: 50%;
}
.social-stats svg, .headline {
	padding: $social-stats-padding;
	@include tablet {
		padding: $social-stats-padding-tablet;
	}
}
.social-stats h3 {
	font-size: .9em;
	color: $nav-bar;
}
.social-stats h2 {
	font-size: 2rem;
	font-family: arial;
	font-weight: lighter !important;
	letter-spacing: 0.3rem;
	color: grey;
}