.social-stats {
	display: flex;
	flex-direction: column;
	@include tablet {
		flex-direction: row;
		justify-content: space-around;
		padding-bottom: 20px;
	}
}
.facebook-stats,.twitter-stats,.googleplus-stats {
	width:100%;
	border: 1px solid black;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include tablet {
		width: $social-stats-tablet-width;
	}
}
.social-stats img {
	height: $social-stats;
	width: $social-stats;
}
.social-stats img, .headline {
	padding: $social-stats-padding;
	@include tablet {
		padding: $social-stats-padding-tablet;
	}
}