/***FONT ****/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

/** NAMED COLOR VALUES ***/
$grey-blue: #7c74d4;
$darker-grey-blue: #5248ba;
$super-light-grey: #f3f2f2;


/*** FUNCTIONAL COLOR VALUES ***/
$nav-bar: $grey-blue;
$side-bar: $darker-grey-blue;
$search-bar-color: $super-light-grey;

/************************* SIZES *************************************/

/**nav**/
$nav-height: 150px;
$icon-mobile: 20px;
$nav-line-height: 3.5em;
$graph-mobile-width: 100%;

/***margins***/
$search-bottom: 10px;
$alert-box-bottom: 20px;
$toggle-bottom: 10px;

/**widths***/
$searchbar-width: 80%;
$alert-box-width: 95%;
$graph-toggle-mobile: 90%;
$main-width-mobile: 95%;

/** heights ***/
$graph-mobile-height: 400px;

/**social stats image size***/
$social-stats: 40px;
$social-stats-padding: 50px;

//**media break points***//
$tablet: '(min-width:760px)';
$desktop: '(min-width: 1090px)';

/*****TABLET SIZES ******/

/**padding***/
$list-item-padding: 10px;
$social-stats-padding-tablet: 15px;

/**width**/
$toggle-tablet-width: 30%;
$social-stats-tablet-width: 30%;

//**heights****/
$graph-tablet-height: 250px;

//***icon****//
$icon-tablet: 30px;

//*******DESKTOP**********/////
$sidebar: 10%;
$main-content-desktop: 87%;


